/* _content/MiParcial/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-c5xp5uwrer] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-c5xp5uwrer] {
  color: #0077cc;
}

.btn-primary[b-c5xp5uwrer] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-c5xp5uwrer], .nav-pills .show > .nav-link[b-c5xp5uwrer] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-c5xp5uwrer] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-c5xp5uwrer] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-c5xp5uwrer] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-c5xp5uwrer] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-c5xp5uwrer] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MiParcial/Views/Shared/_LayoutAdministrador.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lig95cs8u3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lig95cs8u3] {
  color: #0077cc;
}

.btn-primary[b-lig95cs8u3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lig95cs8u3], .nav-pills .show > .nav-link[b-lig95cs8u3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lig95cs8u3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lig95cs8u3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lig95cs8u3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lig95cs8u3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lig95cs8u3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MiParcial/Views/Shared/_LayoutEstudiante.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8bdghabdfh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8bdghabdfh] {
  color: #0077cc;
}

.btn-primary[b-8bdghabdfh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8bdghabdfh], .nav-pills .show > .nav-link[b-8bdghabdfh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8bdghabdfh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8bdghabdfh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8bdghabdfh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8bdghabdfh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8bdghabdfh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MiParcial/Views/Shared/_LayoutLogin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-igpqi6zbs3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-igpqi6zbs3] {
  color: #0077cc;
}

.btn-primary[b-igpqi6zbs3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-igpqi6zbs3], .nav-pills .show > .nav-link[b-igpqi6zbs3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-igpqi6zbs3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-igpqi6zbs3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-igpqi6zbs3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-igpqi6zbs3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-igpqi6zbs3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MiParcial/Views/Shared/_LayoutPublico.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hxg5xmhn20] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hxg5xmhn20] {
  color: #0077cc;
}

.btn-primary[b-hxg5xmhn20] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hxg5xmhn20], .nav-pills .show > .nav-link[b-hxg5xmhn20] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hxg5xmhn20] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hxg5xmhn20] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hxg5xmhn20] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hxg5xmhn20] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hxg5xmhn20] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
